//login

.username {
    padding-bottom: 15px;
}

.password {
    padding-bottom: 25px;
}

.forgot {
    padding-bottom: 25px;
}

.checkbox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;

    label {
        text-align: center;
        padding-left: 5px;
    }

    input[type='checkbox'] {
        padding: 7px;
        width: 20px;
        height: 20px;
        margin-bottom: 7px;
        outline: none;
        border: 1px solid $base-color;
    }
}

a {
    text-decoration: underline;
    color: $base-color;
}
