// view members

.members {
    width: 100%;
    padding: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    a {
        text-decoration: none;
        color: $base-bg;
    }

    button {
        border: none;
        background: none;
        width: auto;
        outline: none;
    }
}

.mobile {

    padding: 0;
    display: none;

    .edit {
        text-align: left;
        display: block;
        padding-top:3px;
        padding-left: 8px;
    }

    .delete {
        form {
            width: 100%;
            text-align: left;
            align-items: flex-start;
        }
    }

    span {
        color: $base-color;
        font-weight: bold;
    }

    hr {
        background: $base-bg;
        color: $base-bg;
    }
}

.membership {
    text-transform: capitalize;
}

.name {
    text-transform: capitalize;
}

table {  
    width: 90%;

    th {
        font-size: 14px;
        font-weight: bold;
        color: $base-color;
    }
    
    i {
        font-size: 14px;
    }

}

@media(max-width: 800px) {

    .mobile {
        display: block;
    }

    .desktop {
        display: none;
    }
}

