// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'includes/variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

//includes
@import 'includes/header.scss';
@import 'includes/footer.scss';
@import 'includes/sidebar.scss';
@import 'includes/forms.scss';

//pages
@import 'pages/welcome.scss';
@import 'pages/login.scss';
@import 'pages/dashboard.scss';
@import 'pages/createMember.scss';

// General Styles

body {
    background: $base-color;
    min-height: 100vh;
    position: relative;
}

main {
    padding: 50px 20px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // offset for sidebar
    margin-left: 250px;
}

.flex-container {
    margin: auto;
    width: 100%;
}

.errors {
    color: $base-color;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    padding: 25px;
    
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        margin: auto;
    }
}

.logo {
    margin: 0 auto;
    max-width: 450px;
    width: 100%;
    padding-bottom: 30px;

    img {
        margin: 0 auto;
        width: 100%;
        max-width: 250px;
        display: block;
    }

    h1 {
        text-align: center;
        font-weight: bold;
        color: $base-color;
    }
}

button {
    background: $base-color;
    color: $base-bg;
    width: 150px;
    border: 0;
    border-radius: 5px;
}

p {
    padding: 0;
    margin: 0;
}